header{
    background-image: url(basket-coffee-coffee-mug-2967810.jpg);
    background-size: cover;
    margin: -10px;
    margin-bottom: 10px;
    border-bottom: 2px;
    border-bottom-style: solid;


    
}

body{
    background-image: url(images.whitelines.jpg);
    background-size: cover;
}

h1{
    color: rgb(44, 44, 114);
    font-family: fantasy;
    text-align: center;
    font-size: 108px;
    margin-bottom: 5px;
    margin-top: 10px;
   
}

h2{
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 45px;
    font-weight:100;
    letter-spacing: 10px;
    margin-top: 0px;
    padding-bottom: 25px;

}
.aboutme {
    text-align: center
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: inline-block;

}

div {
    text-align: center;
}
article{
    width:22%;
    margin: 10px;
    padding: 10px;

    
}

h3 {
    font-family: fantasy;
    border-bottom: solid;
    border-bottom-style: solid;
    border-bottom-color: rgb(44, 44, 114);
    border-bottom-width: 2px;
    
}

.article-container {
    display: flex;
    justify-content: space-evenly;

    

}